a	{color:LimeGreen;}

html,body{
	height:100%;
}

.day{
	background-image: url(../mountain.jpg);
	background-repeat: no-repeat; 
	background-size: 100%;
}

@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in{
	0% { opacity: 0; }
	100% { opacity: 100; }
}
@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.background-image {
  background: url('../images/mountain.jpg') no-repeat center center fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  opacity: 0;
  
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  
  -moz-animation-name: fade-in;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  
  -o-animation-name: fade-in;
  -o-animation-duration: 3s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  
  animation-name: fade-in;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.background-image.visible {
  opacity: 1;
}