html,body{
	height:100%;
}

.day{
	background-image: url(../mountain.jpg);
	background-repeat: no-repeat; 
	background-size: 100%;
}

.center{
	text-align: center;
}

@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in{
	0% { opacity: 0; }
	100% { opacity: 100; }
}
@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.sunday{
	background: url('../images/mountain.jpg') no-repeat center center fixed;
}

.monday{
	background: url('../images/clouds.jpg') no-repeat center center fixed;
}

.tuesday{
	background: url('../images/windmills.jpg') no-repeat center center fixed;
}

.wednesday{
	background: url('../images/waterSunset.jpg') no-repeat center center fixed;
}

.thursday{
	background: url('../images/mountainStars.jpg') no-repeat center center fixed;
}

.friday{
	background: url('../images/sunrays.jpg') no-repeat center center fixed;
}

.saturday{
	background: url('../images/mountainCountry.jpg') no-repeat center center fixed;
}

.windmills{
  background: url('../images/windmills.jpg') no-repeat center center fixed;
}

.background-image {
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  opacity: 0;
  
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  
  -moz-animation-name: fade-in;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  
  -o-animation-name: fade-in;
  -o-animation-duration: 3s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  
  animation-name: fade-in;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.background-image.visible {
  opacity: 1;
}

.fill{
  height: calc(100% - 50px);
}

.header{
  background-color: white;
  color: black;
  border-color: transparent;
}

.header a {
  color: black;
  text-decoration: none;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.effectscale {
  border: none;
  margin: 0 auto;
}
.effectscale:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.socialLogo{
  width: 64px;
  height: 64px;
}

.main-text{
  color: white;
}

.main-text a{
  color: white;
  text-decoration: underline;
}

@media (max-width: 480px) {
  #aboutText{
    display: none;
  }

  hr{
    display: none;
  }
}

.main-content{
  background-color: rgba(56, 56, 56, 0.8);
   border-radius: 25px;
}